@page
@model MotorcycleWebPage.Web.Pages.Manufacturers.ViewModel
@{
}

<picture class="picture">
    <img class="imgHome" src="~/Img/Manufacturers/@(Model.Id).jpg" data-object-fit="cover" />
</picture>


<div class="row">
    <div class="col-lg-12 mb-5">
        <div class="card">
            <div class="card-header">
                <img width="500" src="/Img/Logos/@(Model.Id).jpg" />
                <a class="EditBikeButton btn btn-outline-primary mt-3" asp-page="/Manufacturers/Edit" asp-route-id="@Model.Id">Ändra</a>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Modell</label>
                            <p class="form-control">@Model.Name</p>
                        </div>
                        <div class="form-group">
                            <label>Tillverkare</label>
                            <p class="form-control">@Model.Country</p>
                        </div>
                        <div class="form-group">
                            <label>Tillverkningsår</label>
                            <p class="form-control">@Model.Founded</p>
                        </div>
                        <div class="form-group">
                            <label>Beskrivning</label>
                            <textarea class="form-control" rows="6">@Model.Description</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>